* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.list {
  list-style: none;
}

.list img {
  max-height: 3em;
}

/* Search bar */
.search-bar {
  margin-bottom: 25px;
}

/* Main content */
.list li {
  margin-bottom: 20px;
}

/* Movies */
.movies-section {
  padding: 20px;
  margin-bottom: 25px;
}

/*Series */
.series-section {
  padding: 20px;
  margin-bottom: 25px;
}
