* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  overflow: hidden;
  color: #fff;
}

#app {
  position: relative;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  height: 100%;
}

.flex-c {
  display: flex;
  align-items: center;
}

.mb10 {
  margin-bottom: 10px;
}

.mt15 {
  margin-top: 15px;
}

.center {
  text-align: center;
}

/*Header*/

.logo {
  font-size: 45px;
  color: red;
  font-weight: bold;
  text-decoration: none;
}

.search-input {
  height: 30px;
  width: 300px;
  padding: 5px 15px;
  border: 0;
  border-radius: 15px;
  color: #09203f;
  background-color: #fff;
  box-shadow: 0 0 1px #09203f;
}

.search-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  padding: 0 25px;
  flex-basis: 75px;
  min-height: 75px;
  width: 100%;
  background-color: #141b24;
  z-index: 1;
}

.search-input {
  height: 30px;
  width: 300px;
  padding: 5px 15px;
  border: 0;
  border-radius: 15px;
}

/*Home Page*/

.movies-sectionHome {
  display: flex;
  margin: 5px 0 25px 0;
  height: 400px;
  overflow-x: auto;
}

.movieHome,
.serieHome {
  position: relative;
  margin: 20px 20px;
  width: 210px;
  background-color: #00000070;
  border-radius: 15px;
  cursor: pointer;
  transition: .3s;
  overflow: hidden;
}

.movieHome:hover,
.serieHome:hover {
  filter: drop-shadow(3px 3px 4px rgba(0,0,0,.6));
  transform: scale(1.1);
}

.movieHome:hover .descriptionHome,
.serieHome:hover .descriptionHome {
  left: 0;
}

.moviesHome,
.seriesHome {
  display: flex;
  justify-content: center;
}

.descriptionHome {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: absolute;
  top: 0;
  left: 100%;
  padding: 15px 15px 30px;
  width: 100%;
  height: 100%;
  font-size: .85rem;
  background-color: rgba(0,0,0,.9);
  border-radius: 15px;
}

.descriptionHome > p {
  font-size: 13px;
  max-height: 50%;
  color: #fff;
}

.sectionHome {
  color: #fff;
  margin: 25px 25px 25px;
}

.languageHome img{
  max-height: 1em;
}

.title {
  font-size: 18px;
  font-weight:lighter;mt15
}

/* MAIN CONTENT - show search results */

main.show-results {
  flex-grow: 1;
  padding: 75px 0;
  overflow-y: auto;
  background: linear-gradient(180deg, rgb(20, 27, 36) 100%, rgb(51, 66, 79) 100%);
}

.notfound {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  color: #F00;
  padding: 40px;
}

.found {
  font-size: 20px;
  display: flex;
}

.welcome {
  font-size: 25px;
  margin: 10px 25px 30px;
}

/* Movies & Series */

.movies-section,
.series-section {
  padding: 25px 50px;
  text-align: center;
}

.movies,
.series {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.movie,
.serie {
  position: relative;
  margin: 20px 20px;
  width: 250px;
  background-color: #00000070;
  border-radius: 15px;
  cursor: pointer;
  transition: .3s;
  overflow: hidden;
}

.movie:hover,
.serie:hover {
  filter: drop-shadow(3px 3px 4px rgba(0,0,0,.6));
  transform: scale(1.1);
}

.movie:hover .description,
.serie:hover .description {
  left: 0;
}

.poster {
  margin: 0 auto;
  min-height: 300px;
}

.description {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: absolute;
  top: 0;
  left: 100%;
  padding: 15px 15px 30px;
  width: 100%;
  height: 100%;
  font-size: .85rem;
  background-color: rgba(0,0,0,.9);
  border-radius: 15px;
}

.description p {
  max-height: 50%;
  color: #fff;
}

.description-overview{
  margin-bottom: 30px;
  font-size: 18px;
  font-weight: bold;
  color: #fff;
}

.overflow {
  overflow-y: scroll;
}

.vote{
  text-align: center;
  margin-top: 5px;
  margin-bottom: 5px;
}

.description-title {
  font-weight: bold;
  font-size: 18px;
  text-align: center;
}

.center {
  text-align: center;
}

.list {
  list-style: none;
}

.list li {
  margin-bottom: 20px;
}

.list .language img {
  max-height: 2.6em;
}

.poster img {
  max-width: 100%;
}

h2 {
  font-size: 40px;
  margin-bottom: 15px;
  text-align: center;
  color: #fff
}

.fa-star{
  color: yellow;
}

/* Overlay */

.description-overlay {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .9);
  z-index: 2;
}

.description-full-screen {
  display: flex;
  align-items: center;
  padding: 70px;
  max-width: 1200px;
  min-height: 60vh;
  border-radius: 70px;
  box-shadow: 0 0 10px #f9f9f9;
  background-color: #1e1d1d;
}

.description-full-screen .img-wrapper {
  margin-right: 30px;
  height: 100%;
}

.img-wrapper img {
  display: inline-block;
  max-height: 100%;
}

.description-wrapper {
  align-self: flex-start;
  font-size: 1.3rem;
  overflow: auto;
}

.flex-c > img {
  height: 30px;
  margin-left: 10px;
}

.title-window {
  font-weight: bold;
}

.text-overview {
  font-size: 30px;
}
