<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Lato&display=swap">
  <link rel="stylesheet" href="css/style.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.20.0/axios.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue"></script>
  <title>Boolfix</title>
</head>
<body>

  <div id="app">
    <!-- Search bar -->
    <header class="search-bar">
      <a href="./index.html" class="logo">BOOLFIX</a>
      <input class="search-input"type="text" placeholder="Cerca"
             v-model="searchInput"
             @keyup.enter="search">
    </header>
    <main class="show-results">
      <!-- Home Page -->
      <!-- First block -->
      <div class=""  v-if="pagesearch === '0'">
        <p class="welcome">Non sai cosa guardare? Ecco qualche consiglio</p>
        <h1 class="sectionHome"> {{queryHome1}} </h1>
        <div class="movies-sectionHome">
          <ul class="moviesHome list">
            <li class="movieHome" v-for="(movie, index) in moviesHome1" @click="details(index), movieGen(movie.id), movieCast(movie.id)">
              <div class="poster">
                <img :src="setPosterPath(movie.poster_path)"
                     :alt="movie.title"
                     v-if="movie.poster_path">
                <img src="img/poster.png"
                     alt="copertina Film non trovata"
                     v-else>
              </div>
              <div class="vote">
                <span class="overflow description-title">Voto:</span>
                <i class="fas fa-star"
                   v-for="n in starRating(movie.vote_average)"></i>
                <i class="far fa-star"
                   v-for="n in (5 - starRating(movie.vote_average))"></i>
              </div>
              <div class="descriptionHome">
                <span class="overflow description-title">Titolo:</span>
                <p class="center">{{ movie.title }}</p>
                <span class="description-overview"v-if="movie.overview === '' ">Trama non disponibile</span>
                <p class="overflow description-title" v-else>{{movie.overview}}</p>
                <p class="mt15">clicca per avere maggiori dettagli</p>
              </div>
            </li>
          </ul>
        </div>
      </div>
      <!-- Second block-->
      <div class=""  v-if="pagesearch === '0'">
        <h1 class="sectionHome"> {{queryHome2}} </h1>
        <div class="movies-sectionHome">
          <ul class="moviesHome list">
            <li class="movieHome" v-for="(movie, index) in moviesHome2" @click="details2(index), movieGen(movie.id), movieCast(movie.id)">
              <div class="poster">
                <img :src="setPosterPath(movie.poster_path)"
                     :alt="movie.title"
                     v-if="movie.poster_path">
                <img src="img/poster.png"
                     alt="copertina Film non trovata"
                     v-else>
              </div>
              <div class="vote">
                <span class="overflow description-title">Voto:</span>
                <i class="fas fa-star"
                    v-for="n in starRating(movie.vote_average)"></i>
                <i class="far fa-star"
                   v-for="n in (5 - starRating(movie.vote_average))"></i>
              </div>
              <div class="descriptionHome">
                <span class="overflow description-title">Titolo:</span>
                <p class="center">{{ movie.title }}</p>
                <span class="description-overview" v-if="movie.overview === '' ">Trama non disponibile</span>
                <p class="overflow description-title" v-else>{{movie.overview}}</p>
                <p class="mt15">clicca per avere maggiori dettagli</p>
              </div>
            </li>
          </ul>
        </div>
      </div>
      <!-- Results Movies -->
      <div class="movies-section" v-if= "pagesearch != '0'">
        <div class="found"v-if="query != ''">
            Risultati per:
             "<p> {{query.toUpperCase()}} </p>"
          </div>
        <h2> Film </h2>
        <div class="notfound" v-if="movies.length === 0" >
          <h1>La ricerca non ha dato nessun risultato</h1>
        </div>
        <ul class="movies list">
          <li class="movie" v-for="(movie, index) in movies" @click="details(index), movieGen(movie.id), movieCast(movie.id)">
            <div class="poster">
              <img :src="setPosterPath(movie.poster_path)"
                  :alt="movie.title"
                  v-if="movie.poster_path">
              <img src="img/poster.png"
                  alt="copertina Film non trovata"
                  v-else>
            </div>
            <div class="vote">
              <span class="description-title">Voto:</span>
              <i class="fas fa-star"
                 v-for="n in starRating(movie.vote_average)"></i>
              <i class="far fa-star"
                 v-for="n in (5 - starRating(movie.vote_average))"></i>
            </div>
            <div class="description">
              <span class="description-title">Titolo:</span>
              <p class="center">{{ movie.title }}</p>
              <span class="description-overview"v-if="movie.overview === '' ">Trama non disponibile</span>
              <p class="overflow" v-else>{{movie.overview}}</p>
              <p class="mt15">clicca per avere maggiori dettagli</p>
            </div>
          </li>
        </ul>
      </div>
      <!-- Results Series -->
      <div class="series-section" v-if= "pagesearch != '0'">
        <h2> Serie Tv </h2>
        <div class="notfound" v-if="series.length === 0" >
          <h1>La ricerca non ha dato nessun risultato</h1>
        </div>
        <ul class="series list">
          <li class="serie" v-for="(serie, index) in series" @click="details2(index), serieGen(serie.id), serieCast(serie.id)">
            <div class="poster">
              <img :src="setPosterPath(serie.poster_path)"
                   :alt="serie.title"
                   v-if="serie.poster_path">
              <img src="img/poster.png"
                   alt="copertina Serie Tv non trovata"
                   v-else>
            </div>
            <div class="vote">
              <span class="description-title">Voto:</span>
              <i class="fas fa-star"
                 v-for="n in starRating(serie.vote_average)"></i>
              <i class="far fa-star"
                 v-for="n in (5 - starRating(serie.vote_average))"></i>
            </div>
            <div class="description">
              <span class="description-title">Titolo:</span>
              <p class="center">{{ serie.name}}</p>
              <span class="description-overview" v-if="serie.overview === '' ">Trama non disponibile</span>
              <p class="overflow" v-else>{{serie.overview}}</p>
              <p class="mt15">clicca per avere maggiori dettagli</p>
            </div>
          </li>
        </ul>
      </div>
    </main>
    <!-- window containing a more accurate description -->
    <div class="description-overlay" v-if="windowStatus" @click="windowStatus = false" >
      <div class="description-full-screen">
        <div class="img-wrapper">
          <img :src="setPosterPath(movieSelect.poster_path)"
               :alt="movieSelect.title"
               v-if="movieSelect.poster_path">
          <img src="img/poster.png"
               alt="poster not found"
               v-else>
        </div>
        <div class="description-wrapper">
          <p class=" title-window center mb10">Trama </p>
          <p class="overlay.overview mb10">
            {{movieSelect.overview}}
          </p>
          <p class="description-overview"v-if="movieSelect.overview === '' "><span class="flex-c text-overview">Trama non disponibile</span></p>
          <span class=" title-window mb10">Titolo: </span>
          <span class="mb10"><em>{{ movieSelect.title }}</em></span>
          <span class="mb10"><em>{{ movieSelect.name }}</em></span>
          <br>
          <span class=" title-window">Titolo Originale: </span>
          <span><em>{{ movieSelect.original_title }}</em></span>
          <span><em>{{ movieSelect.original_name }}</em></span>
          <br>
          <span class=" title-window">Genere: </span>
          <span v-for="genres in moviesGenres"><em>{{ genres }} </em></span>
          <br>
          <span class=" title-window">Attori: </span>
          <span v-for="cast in moviesCast"><em>{{ cast }} </em></span>
          <br>
          <span class=" title-window">Data di rilascio: </span>
          <span v-for="gener in movieSelect.release_date"><em>{{ gener }}</em></span>
          <span v-for="gener in movieSelect.first_air_date"><em>{{ gener }}</em></span>
          <p class="flex-c mb10">
            <span class="title-window center">Lingua originale:</span> <img :src="'img/' + movieSelect.original_language + '.svg' " alt="">
          </p>
          <p class="mb10">
            <span class="title-window">Voto:</span>
            <i class="fas fa-star"
               v-for="n in starRating(movieSelect.vote_average)"></i>
            <i class="far fa-star"
               v-for="n in (5 - starRating(movieSelect.vote_average))"></i>
          </p>
        </div>
      </div>
    </div>
  </div>

  <script src="./js/script.js"></script>
</body>
</html>
